<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Buang Anggota Baru</title>
</head>
<body>
<div class="container m-5">
    <form action="" method="post">
        <div class = "form-group">
            <input type ="text" class="form-control" name="nim" placeholder="NIM">
        </div>
        <div class = "form-group">
            <input type ="text" class="form-control" name="nama" placeholder="Nama Mahasiswa">
        </div>
        <div class = "form-group">
            <input type ="text" class="form-control" name="jurusan" placeholder="Jurusan">
        </div>
        <input type="submit" class="btn btn-primary" value="Buat anggota">
    </form>
</div>
</body>
</html>