<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Buat Pinjaman Baru</title>
</head>
<body>
    <div class="container m-5">
    <form action="" method="post">
        <div class = "form-group">
            <input type ="number" class="form-control" name="kodePinjam" placeholder="Kode Pinjam">
        </div>
        <div class = "form-group">
            <input type ="text" class="form-control" name="kodeBuku" placeholder="Kode Buku" list="buku">
            <datalist id="buku">
            {% for buku in buku_list %}
                {% if buku.stok > 0 %}
                <option label="{{ buku.judulBuku }}" value="{{ buku.kodeBuku }}"></option>
                {% endif %}
                {% endfor %}
            </datalist>
        </div>
        <div class = "form-group">
            <input type ="number" class="form-control" name="nim" placeholder="NIM" list="anggota">
            <datalist id="anggota">
            {% for anggota in anggota_list %}
                <option label="{{ anggota.nama }} - {{ anggota.jurusan }}" value="{{ anggota.nim }}"></option>
            {% endfor %}
            </datalist>
        </div>
        <div class = "form-group">
            <input type ="text" class="form-control" name="tanggalPinjam" id="tanggalPinjam" placeholder="Tanggal Pinjam" disabled>
            <script>
                var today = new Date(Date.now())
                var tostr = today.toLocaleDateString();
                document.getElementById("tanggalPinjam").innerHTML = tostr;
            </script>
        </div>
        <input type="submit" class="btn btn-primary" value="pinjaman">
    </form>
</body>
</html>
