<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="style.css">

    <title>Kembali</title>
  </head>
  <body>
    <header>
        <div class="logo">
            <h1 class="logo-wa">GERRY<span></h1>
        </div>
        <ul class="nav">
            <li>
                <a href="">
                    Gerry Tonnoto
                </a>
                <ul>
                    <li>
                        <a href="" class="logout">Lagout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- INDEX WRAPPER -->
    <div class="index-wrapper">
        <!-- LEFT SIDE -->
        <div class="leftside-wrapper">
            <ul>
                <li><a href="index.html">Buku</a></li>
                <li><a href="anggota.html">Anggota</a></li>
                <li><a href="pinjam.html">Pinjam</a></li>
                <li><a href="kembali.html">Kembali</a></li>
            </ul>
        </div>
        <!-- RIGHT CONTENT -->
        <div class="rightside-content">
            <!-- button -->
            <button class="btn btn-primary" onclick="onAdd()">Tambah Pengembalian</button>

            <div class="content">
                <h2 class="page-title">Tabel Kembali</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th class="text-center">Kode Kembali</th>
                                <th class="text-center">Kode Buku</th>
                                <th class="text-center">NIM</th>
                                <th class="text-center">Tanggal Kembali</th>
                                <th colspan="2" class="text-center">Kontrol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">KP001</th>
                                <td class="text-center">KB002</td>
                                <td class="text-center">32190076</td>
                                <td class="text-center">7/4/2022</td>
                                <td class="text-center">
                                    <button onClick="onEdit()" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
                                </td>

                                <!--Tombol hapus -->
                                <td class="text-center">
                                    <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--OVERLAY ADD RETURN-->
        <div id="overlay-add" class="overlay">
            <!-- BACK BOTTON -->
            <button class="btn btn-primary btn-back" onClick="offAdd()">Back</button>
            <div class="overlay-content">
                <h2 class="overlay-title">Tambah Pengembalian</h2>
                <!-- INPUT ADD RETURN -->
                <div class="overlay-input">
                    <form action="/">
                        <label for="KodeBuku" class="form-label">Kode Buku:</label><br>
                        <input type="number" id="NIM" name="NIM" value=""class="form-control"><br>
                        <label for="Nim" class="form-label">Nomor Induk Mahasiswa:</label><br>
                        <input type="text" id="Nim" name="nim" value="" class="form-control"><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!--OVERLAY EDIT RETURN-->
        <div id="overlay-edit" class="overlay">
            <!-- BACK BOTTON -->
            <button class="btn btn-primary btn-back" onClick="offEdit()">Back</button>
            <div class="overlay-content">
                <h2 class="overlay-title">Tambah Data Pengembalian </h2>
                <!-- INPUT EDIT RETURN-->
                <div class="overlay-input">
                    <form action="/">
                        <label for="KodeBuku" class="form-label">Kode Buku:</label><br>
                        <input type="number" id="NIM" name="NIM" value=""class="form-control"><br>
                        <label for="Nim" class="form-label">Nomor Induk Mahasiswa:</label><br>
                        <input type="text" id="Nim" name="nim" value="" class="form-control"><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!--script for open and close overlay  -->
    <script>
        function onAdd() {
          document.getElementById("overlay-add").style.display = "block";
        }

        function offAdd() {
          document.getElementById("overlay-add").style.display = "none";
        }
        
        function onEdit() {
          document.getElementById("overlay-edit").style.display = "block";
        }

        function offEdit() {
          document.getElementById("overlay-edit").style.display = "none";
        }
        </script>
  </body>
</html>